

.wrapper{
    margin-top: 70px;
    min-height: 100%;
    margin-bottom: -30px;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    background-color: #efefef;
    border-top: 1px solid gray;
}

.page-loader {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    padding-top: 80px;
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: white;
  }

  #collasible-nav-dropdown{
    color: white;
    font-weight: bold;

}

/* dropdown icon */
.dropdown-toggle::after {
    display: none !important; 
}


@media only screen and (min-width: 600px) {
    .eventsNav {
    width: 54em  !important; 
    padding-bottom: 0.5em; 
    }
}

.nav-selected {
    color: #fff;
    font-weight: bold;
}
.nav-no-selected {
    color: #fff;
}


